<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix - Sing Up</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sldebar.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <script src="https://kit.fontawesome.com/97eec942a3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <i class="fa-solid fa-bars fa-lg"></i>
            <div>
                <h1>Trackgenix</h1>
                <p>We're Trackgenix SA</p>
            </div>
        </header>
        <aside id="sidebar">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sign-up.html">Sing Up</a></li>
                    <li><a href="login.html">Log In</a></li>
                </ul>
            </nav>
            <div class="line"></div>
            <section id="contact-section">
                <h4>Contact</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis provident tempora iure voluptatibus
                    quos aliquam voluptates at, qui minus, nobis vel adipisci. Dolor quibusdam ex enim laboriosam
                    blanditiis,
                    labore
                    inventore.
                </p>
                <div id="contact-info">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Information@untitled.com</p>
                    <i class="fa-solid fa-phone"></i>
                    <p>(000) 000-000</p>
                    <i class="fa-solid fa-house"></i>
                    <p>1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                </div>
            </section>
        </aside>
        <main>
            <div class="container">
                <form>
                    <fieldset>
                        <legend id="signup-title">Sign Up</legend>
                        <div id="inputs">
                            <div>
                                <input type="text" id="name" placeholder="Name">
                                <input type="text" id="lastname" placeholder="Last Name">
                                <input type="number" id="dni" placeholder="DNI">
                                <input type="date">
                                <input type="number" id="phone-number" placeholder="Phone Number">
                                <input type="text" id="home-addres" placeholder="Home Address">
                            </div>
                            <div>
                                <input type="text" id="location" placeholder="Location">
                                <input type="number" id="postal-code" placeholder="Postal Code">
                                <input type="email" id="email" placeholder="Email">
                                <input type="password" id="password" placeholder="Password">
                                <input type="password" id="password2" placeholder="Repeat Password">
                            </div>
                        </div>
                        <p>All fields are required</p>
                        <button type="submit" id="btn-create">Create</button>
                    </fieldset>
                </form>
            </div>
        </main>
        <footer>
            <p>Rosario, Santa Fe - Argentina</p>
            <p>Copyright &copy; Trackgenix SA. All rights reserved.</p>
        </footer>
    </body>
</html>