@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* #Element selectors */

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 122px;
    background-color: #AACE9B;
    z-index: 99;
}

h1 {
    position: absolute;
    right: 10px;
    font-size: 83px;
    color: #373867;
    font-weight: bold;
}

header p {
    position: absolute;
    right: 20px;
    top: 90px;
    font-size: 28px;
    color: #69A362;
    font-weight: bold;
}

aside {
    position: fixed;
    top: 122px;
    width: 15%;
    height: 6000px;
    background-color: #373867;
    border-left: 49px solid #AACE9B;
    z-index: 80;
}

nav ul li a {
    display: block;
    position: relative;
    top: 80px;
    width: 162px;
    margin: 35px auto;
    padding: 12px 20px;
    background-color: #AACE9B;
    border-radius: 10px;
    font-size: 22px;
    color:#373867;
    text-align: center;
    text-decoration: none;
}

main {
    position: relative;
    top: 130px;
    left: 350px;
    width: 75%;
}

p {
    text-align: center;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    position: absolute;
    top: 5000px;
    right: 0;
    width: 85%;
    height: 150px;
    background-color: #AACE9B;
}

footer p {
    margin: 30px 0 0 5%;
    font-weight: bold;
    font-size: 18px;
}

/* #Class - Id */

/* ##Sidebar */

.nav-line1{
    position: relative;
    top: 60px;
    width: 90%;
    border-bottom: 2px solid #69A362;
}

.nav-line2 {
    position: relative;
    top: 100px;
    width: 90%;
    border-bottom: 2px solid #69A362;
}

.contact-section {
    position: relative;
    top: 160px;
    padding: 0 20px;
    color: #fff;
}

.contact-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-section p {
    font-size: 14px;
    text-align: start;
    margin-bottom: 10px;
}

.links {
    text-align: center;
}

.contact-section a {
    margin: 20px 0;
    text-decoration: none;
    color: #fff;
}

/* ##Welcome section */

.welcome-section {
    position: relative;
    top: 100px;
}

.welcome-section h2 {
    font-size: 65px;
    font-weight: bold;
}

.welcome-section h3 {
    display: block;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}


.welcome-section div p{
    position: absolute;
    top: 300px;
    left: 20px;
    width: 35%;
    font-size: 24px;
}

.welcome-section div img {
    position: absolute;
    top: 180px;
    right: 100px;
    width: 680px;
    height: auto;
}

/* ##Features section */

.features-section {
    position: relative;
    top: 700px;
    width: 100%;
}

.features-section h2 {
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 45px;
}

.features-section div {
    display: inline-block;
    width: 600px;
    text-align: center;
}

.features-section div img {
    width: 210px;
    height: auto;
    opacity: 60%;
    float: left;
}

.rectangle-img {
    margin-top: 10%;
}

.features-section div h3 {
    margin: 5% 0 8% 0;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
}

.features-section div p {
    display: inline-block;
    width: 255px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

/* ##Attributes section */

.attributes-section {
    position: relative;
    top: 900px;
    padding-left: 12%;
}

.attribute-box {
    display: inline-table;
    padding: 40px 60px 60px 60px;
    margin: 0 96px 50px 0;
    width: 290px;
    height: 250px;
    border: 5px solid #9AB593;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.attributes-section div h3 {
    margin-bottom: 30px;
    font-size: 38px;
    color: #AACE9B;
    text-transform: uppercase;
}

/* ##nformation section */

.info-section {
    position: relative;
    top: 1000px;
}

.info-section legend {
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 45px;
}

.form {
    text-align: start;
}

.form label {
    display: block;
}

.contact-opt {
    margin: 15px 0 50px 0;
}

.contact-opt label {
    display: inline;
    margin-right: 100px;
}

.input-form, .textarea {
    margin: 15px 0 50px 0;
    padding: 15px 10px;
    width: 80%;
    border-style: none;
    border-radius: 15px;
    background-color: rgba(55, 56, 103, 0.4);
}

.textarea {
    resize: none;
}

.btn-submit {
    display: block;
    position: absolute;
    left: 75%;
    padding: 8px 15px;
    border-style: none;
    border: 2px solid #373867;
    border-radius: 5px;
    background-color: #AACE9B;
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    color: #373867;
}

/* ##Our history section */

.our-history-section {
    position: relative;
    top: 1100px;
}

.our-history-section h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.p-semibold {
    margin-bottom: 60px;
    margin-left: 5%;
    width: 90%;
    font-size: 24px;
    font-weight: 500;
}

.p-regular{
    width: 60%;
    margin: 0 0 50px 20%;
    font-size: 18px;
}

/* ##Items section */

.items-section {
    position: relative;
    top: 1200px;
    padding-left: 5%;
    text-align: center;
}

.items-section div {
    display: inline-block;
    width: 20%;
    padding: 0 5%;
    text-align: justify; 
}

.items-section div h3 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
    color:#AACE9B;
    text-transform: uppercase;
}

.items-section li {
    line-height: 20px;
    list-style-type: disc;
}

.items-section a {
    text-decoration: none;
    font-weight: bold;
    color: #373867;
    list-style: circle left;
}

